{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<section class="row g-3 p-3 terms_conditions-section">
  <div
    style="max-width: 400px; margin: 0 auto; background-color: var(--bgDefault2); border-radius: 5px; box-shadow: 0px 3px 5px #00000050;">
    <h2 class="text-center mt-3">{% trans "Sign In" %}</h2>
    {% get_providers as socialaccount_providers %}
    {% if socialaccount_providers %}
    <p>{% blocktrans with site.name as site_name %}Please sign in with one
      of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
      for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
    <div class="socialaccount_ballot">
      <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </ul>
      <div class="login-or">{% trans 'or' %}</div>
    </div>
    {% include "socialaccount/snippets/login_extra.html" %}
    {% else %}
    <div class="px-4">
      <p>{% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
      </p>
    </div>
    {% endif %}
    <div class="px-4">
      <form class="login " method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn-light mb-4 " type="submit">{% trans "Sign In" %}</button>
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
      </form>
    </div>
  </div>
</section>



{% endblock %}