{% extends "home/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/index.css' %}">
{% endblock %}

{% block content %}

<section class="container-fluid row g-0">
    <div class="col-12">
        <div class="hero-section">
            <img src="/static/img/kern_word_cloud.png" alt="Elegant suit in the hero section">
            <div class="hero-overlay">
                <h1>Crafted for Confidence</h1>
                <h2>Worn with Distinction</h2>
            </div>
        </div>
    </div>
</section>


<section class="row g-3 p-3">
    <div class="col-lg-5">
        <div class="p-4 bg-light text-container-fluid">
            <h3>Our Boutique</h3>
            Welcome to Kern Suits - where timeless elegance meets contemporary 
            craftsmanship. We create premium suits designed to inspire confidence 
            and express individual style. Whether you are preparing for an important 
            occasion, elevating your professional style, or simply appreciating the 
            art of fine tailoring, our boutique offers an experience tailored to you. <br> <br>
            <a href="#">[Learn more]</a>
        </div>
    </div>
    <div class="col-lg-7">
        <div class="row g-3">
            <div class="col-6">
                <div class="p-0 bg-light image-container-fluid">
                    <img src="" alt="Elegant suit1" class="img-fluid">
                </div>
            </div>
            <div class="col-6">
                <div class="p-0 bg-light image-container-fluid">
                    <img src="" alt="Elegant suit1" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
