{% extends "home/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/index.css' %}">
{% endblock %}

{% block content %}

<!-------------- HERO SECTION ------------------->
<section class="container-fluid row g-0">
    <div class="col-12">
        <div class="hero-section">
            <img src="/static/img/free/suit05.jpg" alt="Elegant suit in the hero section">
            <div class="hero-overlay">
                <h1>Crafted for Confidence</h1>
                <h2>Worn with Distinction</h2>
            </div>
        </div>
    </div>
</section>

<!-------------- WELCOME SECTION ------------------->
<section class="row g-3 p-3">
    <div class="col-lg-5">
        <div class="p-4 bg-light2 text-container-fluid">
            <h4>Our Boutique</h4>
            <p>
                Welcome to Kern Suits - where timeless elegance meets contemporary 
                craftsmanship. We create premium suits designed to inspire confidence 
                and express individual style. Whether you are preparing for an important 
                occasion, elevating your professional style, or simply appreciating the 
                art of fine tailoring, our boutique offers an experience tailored to you. <br> <br>
                <a href="#">[Learn more]</a>
            </p>
        </div>
    </div>
    <div class="col-lg-7">
        <div class="row g-3">
            <div class="p-0 bg-light2 image-container-fluid">
                <img src="/static/img/kern_word_cloud.png" alt="Elegant suit1" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<!-------------- SHOP SECTION ------------------->
<section class="container-fluid row g-3 p-3">
    <div class="col-12">
        <div class="p-5 bg-light2 text-container-fluid">
            <div class="row g-3">
                <div class="col-md-9">
                    <div class="pe-md-5 bg-light2 image-container-fluid">
                        <h2>Our Collections</h2>
                        <p>
                            Experience the confidence that comes from wearing a suit crafted to your standards. From timeless 
                            classics to contemporary designs, our collection offers refined options for every occasion. <br>
                            Explore tailored fits, premium fabrics, and a spectrum of colors that reflect your personal style. 
                            Whether for business, celebrations, or everyday elegance, Kern Suits ensures you look and feel your best."
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="p-0 bg-light2 image-container-fluid d-flex align-items-center justify-content-center">
                        <a href="#" class="btn-light btn-large">SHOP NOW</a>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</section>

<!-------------- TAILORING SECTION ------------------->
<section class="row g-3 p-3">
    <div class="col-lg-7">
        <div class="row g-3">
            <div class="p-0 bg-light2 image-container-fluid">
                <img src="/static/img/kern_word_cloud.png" alt="Elegant suit1" class="img-fluid">
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="p-4 bg-light2 text-container-fluid">
            <h4>Individual Solutions</h4>
            <p>
                Every occasion deserves a suit as unique as you are. While our online collection
                offers a wide range of styles, certain moments call for something truly personal.
                Whether it's a wedding, a milestone celebration, or an important business event, 
                we are here to create a suit that fits not only your your measurements, but your vision. <br>
                Schedule a consultation and discover how effortless made-to-measure can be. 
            </p>
        </div>
    </div>
</section>



{% endblock %}
