{% extends "home/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/privacy.css' %}">
{% endblock %}

{% block content %}

<!-------------- Privacy SECTION ------------------->
<section class="row g-3 p-3 privacy-section">
    <div class="col-md-6">
        <div class="p-4 bg-light2 text-container-fluid">
            <h5>1. General Information</h5>
            <p>
                We appreciate your interest in our online services at <strong>Kern Suits</strong> ("Website"). 
                Protecting your personal data is important to us. This Privacy Policy explains how we collect, process, 
                and use your data. <br><br>
                <strong>Controller pursuant to the General Data Protection Regulation (GDPR):</strong><br>
                Kern Anzüge <br>
                Mark Anton & Marcus Cicero<br>
                Antonius street 3 <br>
                753 Some City <br>
                Some Country <br>
                Phone: +0123 4567 90 <br>
                E-mail: requests@kern.de <br>
            </p>

            <h5>2. Access Data and Hosting</h5>
            <p>
                When you visit our Website, your browser automatically transmits certain data, which we store temporarily in server log files:    
            </p>
            <ul>
                <li>IP-address</li>
                <li>Date and time of the request</li>
                <li>Requested content (specific page)</li>
                <li>Access status/HTTP status code</li>
                <li>Amount of data transferred</li>
                <li>Amount of data transferred</li>
                <li>Referrer URL</li>
                <li>Browser type</li>
                <li>Operating system and interface</li>
                <li>language and version of the browser software</li>
            </ul>
            <p>
                This processing is based on Art. XXX(X) GDPR and serves our legitimate interest in maintaining the security and 
                stability of our Website. This data is not merged with other data sources. <br>
                Hosting services are provided by a third-party provider who processes data on our behalf pursuant to Art. XX GDPR 
                under a data processing agreement.
            </p>

            <h5>3. Collection and Use of Personal Data</h5>
            <p>
                We collect personal data when you provide it to us in the context of placing an order, contacting 
                us (e.g., via email), or creating a customer account. The data collected is evident from the respective input forms. <br>
                We process this data to fulfill contracts and handle your inquiries. The legal basis is Art. XX(X) GDPR. 
                After the contract has been fully executed, your data will be blocked and deleted after expiry of the statutory 
                retention periods.
            </p>

            <h4>4. Data Disclosure</h4>
            <p>
                We disclose your data to shipping and payment service providers where necessary to fulfill the contract.
                The legal basis is also Art. XX(X) GDPR. <br>
                Examples of recipients include:
            </p>
            <ul>
                <li>Shipping providers (e.g., DHL, UPS)</li>
                <li>Payment providers (e.g., Stripe)</li>
            </ul>
            <p>
                If you create a customer account, data processing is based on your consent (Art. XX (X) GDPR).
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="p-4 bg-light2 text-container-fluid">
            <h5>5. Cookies</h5>
            <p>
                Our Website uses cookies. Cookies are small text files stored on your device. They help make our service 
                more user-friendly, for example by retaining session information. <br>
                You can configure your browser to notify you about cookie placement and to decide on a case-by-case basis 
                whether to accept them or to generally block cookies. Disabling cookies may limit functionality. <br>
                The legal basis for technically necessary cookies is Art. XX (X) GDPR. For all other cookies, we ask for your 
                consent (Art. XX (X)).

            </p>

            <h5>6. Contacting Us</h5>
            <p>
                When you contact us, we store your details to process your request and handle any follow-up question. 
                Teh legal basis is Art. XX (X) GDPR or Art. XX (X).
            </p>

            <h5>7. Payment Providers</h5>
            <p>
                We offer <strong>payment via Stripe</strong>. Provider: Stripe Payments Europe, Ltd, 1 Grand 
                Canals Street Lower, Grand Canal Dock, Dublin, Ireland. Stripe processes data independently as a controller.
                For more information , see 
                <a href="https://stripe.com/privacy" target="_blank" rel="noopener noreferrer">Stripe's Privacy Policy</a>.
            </p>

            <h5>8. Your Rights</h5>
            <p>
                Under the GDPR, you have the following rights at any time:
            </p>
            <ul>
                <li>Access to your data (Art XX GDPR)</li>
                <li>Rectification of inaccurate data (Art. XX GDPR)</li>
                <li>Erase data (Art. XX GDPR)</li>
                <li>Restriction of processing (Art. XX GDPR)</li>
                <li>Data portability (Art. XX GDPR)</li>
                <li>Objection to processing (Art XX GDPR)</li>
            </ul>
            <p>
                You also have the right to lodge a complaint with a supervisory authority.
            </p>

            <h5>9. Right to Object</h5>
            <p>
                Where we process data to protect our legitimate interests, you may object to such processing 
                at any time on grounds relating to your particular situation.
            </p>

            <h5>10. Data Security</h5>
            <p>
                We implement technical and organizational security measures to protect your data against 
                accidental or intentional manipulation, loss, destruction, or unauthorized access.
            </p>

            <h5>11. Updates and Changes</h5>
            <p>
                This Privacy Policy is currently valid (as of July 2025). We reserve the right to update it to 
                reflect changes in law or technical develpments.
            </p>
        </div>
    </div>
</section>



{% endblock %}
