{% extends "home/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/index.css' %}">
{% endblock %}

{% block content %}

<!-------------- TAILORING SECTION ------------------->
<section class="row g-3 p-3 privacy-section">
    <div class="col-6">
        <div class="p-4 bg-light2 text-container-fluid">
            <h4>1. General Information</h4>
            <p>
                We appreciate your interest in our online services at <strong>Kern Suits</strong> ("Website"). 
                Protecting your personal data is important to us. This Privacy Policy explains how we collect, process, 
                and use your data. <br><br>
                <strong>Controller pursuant to the General Data Protection Regulation (GDPR):</strong>
                Kern Anzüge <br>
                Mark Anton <br>
                Antonius street 3 <br>
                753 Rome <br>
                Some City <br>
                Some Country <br>
                Phone: +0123 4567 90 <br>
                E-mail: requests@kern.de <br>
            </p>

            <h4>2. Access Data and Hosting</h4>
            <p>
                When you visit our Website, your browser automaticallytransmits certain data, which we store temporarily in server log files:
                <ul>
                    <li>IP-address</li>
                    <li>Date and time of the request</li>
                    <li>Requested content (specific page)</li>
                    <li>Access status/HTTP status code</li>
                    <li>Amount of data transferred</li>
                    <li>Amount of data transferred</li>
                    <li>Referrer URL</li>
                    <li>Browser type</li>
                    <li>Operating system and interface</li>
                    <li>language and version of the browser software</li>
                </ul>
            </p>
        </div>
    </div>
    <div class="col-6">
        <div class="p-4 bg-light2 text-container-fluid">
            <h4>Individual Solutions</h4>
            <p>
                Every occasion deserves a suit as unique as you are. While our online collection
                offers a wide range of styles, certain moments call for something truly personal.
                Whether it's a wedding, a milestone celebration, or an important business event, 
                we are here to create a suit that fits not only your your measurements, but your vision. <br>
                Schedule a consultation and discover how effortless made-to-measure can be. 
            </p>
        </div>
    </div>
</section>



{% endblock %}
