@import url("/static/css/themes.css");
@import url("/static/css/layout.css");

[data-theme] body {
    background-color: var(--bgDefault);
}

[data-theme] .hero-section {
    width: 100%;
    height: 80vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    margin:0;
    padding:0;
    overflow: hidden;
}

[data-theme] .hero-section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -100;
}

[data-theme] .hero-overlay {
    background-color: rgba(0,0,0,0.5); /* halbtransparenter dunkler Layer */
    padding: 2rem;
    border-radius: 0;
    width: 100%;
}

[data-theme] .hero-section h1 {
    font-family: 'Cinzel', serif;
    font-size: 2.5rem;
    margin: 0;
    color: var(--nav-title);
}

.hero-section h2 {
    font-family: 'Cinzel', serif;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 0.5rem;
    color: var(--nav-title);
}

/* MEDIA QUERIES ---------------------------------------------------------- */
@media (min-width: 768px) {
}

@media (min-width: 992px) {
    [data-theme] .hero-section {
        width: 100%;
        height: 70vh; /* oder 100vh für volle Höhe */
        background: url('/static/img/hero-bg.jpg') center center / cover no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: white;
        text-align: center;
        box-sizing: border-box;
        margin:0;
        padding:0;
    }
    
    .hero-overlay {
        background-color: rgba(0,0,0,0.3); /* halbtransparenter dunkler Layer */
        padding: 2rem;
        border-radius: 0;
        width: 100%;
        box-sizing: border-box;
    }
}