{% extends "checkout/base.html" %}
{% load static %}
{% load checkout_extras %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block extra_js_header %}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}
{% block content %}
<main class="">
    {% if bag_items %}
    <div class="container-fluid">
        <div class="row">
            <!-- left columns shopping bag list -->
            <div class="col-12 col-lg-6  order-2 order-lg-1 shopping-bag-container">
                <div class="mt-3 text-end">
                    <h5>Order Total: ${{ grand_total|floatformat:2 }}</h5>
                    <p class="small text-muted">+ Delivery: ${{ delivery_cost|floatformat:2 }}</p>
                    <h4 class="mb-3"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                    <hr>
                </div>
                <div class="cart-scroll-container p-3  rounded">
                    {% for item in bag_items %}
                    <div class="row mb-2 pb-2 border-bottom">
                        <div class="col-2 ps-4">
                            <a href="{% url 'product_details' item.variant.product.id %}">
                                {% if item.variant.product.image %}
                                    <img class="img-fluid" src="{{ item.variant.product.image.url }}" alt="{{ item.variant.product.name }}">
                                {% else %}
                                    <img class="img-fluid" src="{{ MEDIA_URL }}img/noimage.png" alt="{{ item.variant.product.name }}">
                                {% endif %}
                            </a>
                        </div>
                        <div class="col-6">
                            <p class="mb-1"><strong>{{ item.variant.product.name }}</strong></p>
                            <p class="mb-1 small">Qty: {{ item.quantity }}</p>
                        </div>
                        <div class="col-4 text-end">
                            <p class="mb-1 small text-muted">
                                ${{ item.variant.price|calc_subtotal:item.quantity|floatformat:2 }}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Right column: Checkout Form -->
            <div class="col-12 col-lg-6 order-1 order-lg-2 pb-2 ps-md-5 pe-md-5">
                <h2 class="h4 mb-3 mt-3">Your Details</h2>
                <form method="POST" action="{% url 'checkout' %}" class="ps-3 pe-3" id="payment-form">
                    {% csrf_token %}
                    {% crispy form %}
                    <div class="d-flex align-items-center mb-0">
                        {% if user.is_authenticated %}
                            <label class="form-check-label me-2" for="id-save-info">Save this information to my profile</label>
                            <input class="form-check-input ml-2 me-0" type="checkbox" id="id-save-info" name="save-info" checked>
                        {% else %}
                            <label class="form-check-label" for="id-save-info">
                                <a class="text-info" href="{% url 'account_signup' %}"><small>Create an Account</small></a> <small>or</small> 
                                <a class="text-info" href="{% url 'account_login' %}"><small>login</small></a> <small>to save this information</small>
                            </label>
                        {% endif %}
                    </div>
                    <div class="form-group mt-4">
                        <p>Credit or Debit Card</p>
                        <div id="card-element" class="form-control">
                            <!-- Stripe Element  -->
                        </div>
                        <div id="card-errors" role="alert" class="text-danger mt-2"></div>
                    </div>
                    <div class="d-flex w-100">
                        <input type="hidden" name="client_secret" value="{{ client_secret }}">
                        <button type="submit" class="btn btn-dark btn-block mt-3 ms-auto" id="submit-button">
                            Place Order
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% else %}
        <p>Your cart is empty.</p>
        <a href="{% url 'products' %}" class="btn btn-secondary mt-3">Continue Shopping</a>
    {% endif %}
</main>
{% endblock %}

{% block extra_scripts %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}