@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;700&display=swap');


:root {
    --nav-height: 58px;
    --padding-horizontal: 15px;
}

html[data-theme] main {
    margin-top: var(--nav-height);
}

* {
    margin:0;
    padding:0;
    
}

[data-theme] nav {
    font-family: 'Cinzel', serif;
}