@import url("/static/css/themes.css");
@import url("/static/css/layout.css");

[data-theme] body {
    background-color: var(--bgDefault2);
}

[data-theme] main {
    max-width: 900px;
    margin-top: 0;
}

[data-theme] .order-card {
    max-width: 850px;
    margin: 5rem 0.8rem 4rem 0.8rem;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

[data-theme] .order-header {
    background-color: var(--nav-bg);
    padding: 2rem;
}

[data-theme] .order-header h3 {
    font-family: 'Cinzel', serif;
    color: var(--act2-text);
    margin-bottom: 0.5rem;
}

[data-theme] .order-date,
[data-theme] .order-total,
[data-theme] .order-total small {
    font-size: 0.9rem;
    color: rgba(255,255,255,0.8);
}

[data-theme] .order-header .order-total {
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 1rem;
}

[data-theme] .order-items {
    background: white;
    padding: 2rem;
}

[data-theme] .back-button {
    position: fixed;
    top: 70px; /* Adjust depending on your nav height */
    left: 20px;
    z-index: 1000;
}

@media (min-width:768px) {
    [data-theme] .order-card {
        max-width: 900px;
        margin: 5rem auto 4rem auto;
        border-radius: 0.5rem;
        overflow: hidden;
        box-shadow: 0 0 15px rgba(0,0,0,0.1);
    }
}