<nav class="navbar navbar-dark">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mobileMenu" aria-controls="mobileMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand fw-bold nav-link" href="{% url 'home' %}">Kern</a>
    <div class="d-flex align-items-center">
        <a class="nav-link" href="{% url 'bag' %}">
            <i class="fas fa-bag-shopping" style="color: var(--nav-icon);"></i>
        </a>
        <div class="nav-item dropdown">
            <a class="nav-link" 
                href="#" data-bs-toggle="dropdown" aria-haspopup="true" id="user-options" role="button">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <i class="fas fa-user-cog" style="color: var(--text-admin);"></i>
                    {% else %}
                        <i class="fas fa-user-circle" style="color: var(--nav-icon);"></i>
                    {% endif %}
                {% else %}
                    <i class="fas fa-user" style="color: var(--nav-icon);"></i>
                {% endif %}
            </a>
            <div class="dropdown-menu border-0 dropdown-menu-end" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                <a href="#" class="dropdown-item">Product Management</a>
                {% endif %}
                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

<div class="collapse" id="mobileMenu">
    <ul class="nav flex-column px-3 py-2">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Shop</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Consultations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
    </ul>
</div>
