<nav class="navbar navbar-light bg-light px-3">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mobileMenu" aria-controls="mobileMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand fw-bold" href="#">Kern</a>
    <div class="d-flex align-items-center">
        <a class="nav-link" href="#">
            <i class="fas fa-bag-shopping"></i>
        </a>
        <a class="nav-link" href="#">
            <i class="fas fa-user"></i>
        </a>
    </div>
</nav>

<div class="collapse bg-light" id="mobileMenu">
    <ul class="nav flex-column px-3 py-2">
        <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Shop</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Consultations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About</a>
        </li>
    </ul>
</div>
