{% extends "user/base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'user/css/edit_review.css' %}">
{% endblock %}



{% block content %}
<main class="flex-fill d-flex justify-content-center w-100">
    <a href="{% url 'profile' %}" class="btn btn-light back-button">
    <i class="fas fa-user-circle"></i>  Profile
    </a>
    <div class="review-card">
        <!-- Header -->
        <div class="review-header">
            <div class="d-flex align-items-center">
                <div class="review-header-item me-4">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid" width="100%">
                    {% else %}
                        <img class="img-fluid" src="{{ MEDIA_URL }} img/noimage.png" alt="No image for product: {{ product.name }}" width="100%">
                    {% endif %}
                </div>
                <div class="review-header-item">

                    <h3>{{ product.name }}</h3>
                    {% if review %}
                    <strong>Your review from: </strong> {{ review.created_at|date:"D, d M Y" }}
                    {% else %}
                    <strong>Write a review:</strong><br>
                    <small>You haven't rated this product yet</small>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Form Start -->
        <form method="post">
            {% csrf_token %}
            <!-- Hidden Inputs -->
            <input type="hidden" name="start_datetime" value="{{ appointment.start_datetime|date:'c' }}">
            <input type="hidden" name="appointment_type" value="{{ appointment.appointment_type }}">

            <!-- Appointment Details -->
            <div class="review-details">
                <div class="row  align-items-center d-block">
                    <div class="col-12 ">
                        <div class="mb-3"><strong>Anything you would like us to know:</strong></div>
                    </div>
                    <div class="col-12 mb-3">
                        <textarea name="comment" class="form-control">{{ appointment.comment }}</textarea>
                    </div >
                    <small><strong>Note:</strong> You can cancel your appointment up to 7 days in advance.</small>
                </div>
            </div>

            <!-- Buttons -->
            <div class="pe-4 ps-4 pe-md-5 ps-md-5 pt-4 pb-3 d-flex align-items-center list-group-item ">
                <button type="submit" class="btn btn-white me-auto">Save</button>
                    {% if appointment.start_datetime.date >= cancel_threshold %}
                    <a href="{% url 'delete_appointment' appointment.id %}" class="btn  btn-danger">
                        <small>Cancel</small>
                    </a>
                    {% else %}
                    <button class="btn btn-sm btn-outline-secondary" disabled>
                        <small>Cancel not available</small>
                    </button>
                    {% endif %}
            </div>
        </form>
        <!-- Form End -->

    </div>
</main>
{% endblock %}





{% block extra_scripts %}

{% endblock %}