{% extends "user/base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'user/css/edit_review.css' %}">
{% endblock %}



{% block content %}
<main class="flex-fill d-flex justify-content-center w-100">
    <a href="{% url 'profile' %}" class="btn btn-light back-button">
    <i class="fas fa-user-circle"></i>  Profile
    </a>
    <div class="review-card">
        <!-- Header -->
        <div class="review-header">
            <div class="d-flex align-items-center">
                <div class="review-header-item me-4">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid" width="100%">
                    {% else %}
                        <img class="img-fluid" src="{{ MEDIA_URL }} img/noimage.png" alt="No image for product: {{ product.name }}" width="100%">
                    {% endif %}
                </div>
                <div class="review-header-item">

                    <h3>{{ product.name }}</h3>
                    {% if review %}
                    <strong>Your review from: </strong> {{ review.created_at|date:"D, d M Y" }}
                    {% else %}
                    <strong>Write a review:</strong><br>
                    <small>You haven't rated this product yet</small>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Form Start -->
        <form method="post">
            {% csrf_token %}
            <div class="p-4">
                <!-- Rating Stars -->
                <div class="mb-4">
                    <strong>Rating:</strong>
                    <div class="rating d-flex justify-content-end">
                        {% for i in "54321" %}
                            <input 
                                type="radio"
                                id="star{{ i }}"
                                name="rating"
                                value="{{ i }}"
                                {% if review and review.rating|stringformat:"s" == i %}checked{% endif %}
                            />
                            <label for="star{{ i }}">&#9733;</label>
                        {% endfor %}
                    </div>
                </div>
    
                <!-- Review Comment -->
                <div class="mb-3">
                    <strong >Write your review here (name color, fit, size for better quality):</strong>
                    <textarea name="comment" class="form-control mt-3">{{ review.comment|default_if_none:"" }}</textarea>
                </div>
    
                <!-- Buttons -->
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-dark">
                        {% if review %}Update Review{% else %}Save Review{% endif %}
                    </button>
                </div>
            </div>
        </form>
        <!-- Form End -->

    </div>
</main>
{% endblock %}





{% block extra_scripts %}

{% endblock %}