{% extends "user/base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'user/css/edit_appointment.css' %}">
{% endblock %}



{% block content %}
<main class="flex-fill d-flex justify-content-center w-100">
    <a href="{% url 'manage_appointments' %}" class="btn btn-light back-button">
    ←  Appointments
    </a>
    <div class="appt-card">
        <!-- Header -->
        <div class="appt-header">
            <h3>Appointment</h3>
            <div class="appt-header-item">
                Date: {{ appointment.start_datetime|date:"Y-m-d" }}
            </div>
            <div class="appt-header-item">
                <small>{{ appointment.appointment_type }}</small>
            </div>
        </div>

        <!-- Form Start -->
        <form method="post">
            {% csrf_token %}
            <!-- Hidden Inputs -->
            <input type="hidden" name="start_datetime" value="{{ appointment.start_datetime|date:'c' }}">
            <input type="hidden" name="appointment_type" value="{{ appointment.appointment_type }}">

            <!-- Appointment Details -->
            <div class="appt-details">
                <div class="row  align-items-center d-block">
                    <div class="col-12 ">
                        <div class="mb-3"><strong>Anything you would like us to know:</strong></div>
                    </div>
                    <div class="col-12 mb-3">
                        <textarea name="comment" class="form-control">{{ appointment.comment }}</textarea>
                    </div >
                    <small><strong>Note:</strong> You can cancel your appointment up to 7 days in advance.</small>
                </div>
            </div>

            <!-- Buttons -->
            <div class="pe-4 ps-4 pe-md-5 ps-md-5 pt-4 pb-3 d-flex align-items-center list-group-item ">
                {% if appointment.start_datetime.date >= cancel_threshold %}
                <a href="{% url 'delete_appointment' appointment.id %}" class="btn  btn-danger me-auto">
                    <small>Cancel</small>
                </a>
                {% else %}
                <button class="btn btn-sm btn-outline-secondary me-auto" disabled>
                    <small>Cancel not available</small>
                </button>
                {% endif %}
                <button type="submit" class="btn btn-dark ">Save</button>
            </div>
        </form>
        <!-- Form End -->

    </div>
</main>
{% endblock %}





{% block extra_scripts %}

{% endblock %}