{% extends "products/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/product_details.css' %}">
{% endblock %}

{% block content %}
<div class="container">

    <main class="container pt-4">
        <a href="{% url 'products' %}" class="btn-white btn-outline-secondary mb-3">
            <div class="d-none d-sm-block">&lt; Back to the shop</div>
            <div class="d-block d-sm-none">&lt;</div>
        </a>
        <!------------------------- 01 VARIANT SECTION ------------------------->
        <div class="row mb-5">
            <div class="col-sm-6 mb-3">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid w-100">
            </div>
            <div class="col-sm-6 variant-section-details">
                <h4>{{ product.name }}</h4>
                <!-------- 01.1 Rating ------->
                <div class="d-flex align-items-center mb-3">
                    <div class="me-2">
                        {% for i in "12345"|slice:":"|make_list %}
                        {% if forloop.counter <= product.rating|floatformat:"0"|add:"0" %}
                            <i class="bi bi-star-fill text-warning"></i>
                        {% else %}
                            <i class="bi bi-star text-muted"></i>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <small>{{ product.rating|floatformat:1 }} / 5</small>
                </div>

                <!------- 01.2 SIZE VARIATION -------->
                <div class="mb-3">
                    <strong></strong>
                    <div class="d-flex overflow-auto mt-2 gap-2">
                        {% for size in sizes %}
                            <button 
                                type="button" 
                                class="btn btn-outline-secondary btn-sm size-option {% if size == selected_variant.size.name %}chosen disabled{% endif %}" 
                                data-size="{{ size }}"
                            >
                                {{ size }}
                            </button>
                        {% endfor %}
                    </div>
                </div>

                <!------- 01.3 COLOR VARIATION --------->
                <div class="mb-3">
                    <strong>Color</strong>
                    <div class="d-flex overflow-auto mt-2 gap-2">
                    {% for color in colors %}
                        <button type="button"
                            class="btn color-option p-2  {% if color.color__name == selected_variant.color.name %}chosen {% endif %}"
                            style="background-color: {{ color.color__hex_code }}; height: 40px; width:40px;"
                            title="{{ color.color__name }}"
                            aria-label="{{ color.color__name }}"
                            data-color="{{ color.color__name }}"
                        >
                        </button>
                    {% endfor %}
                    </div>
                </div>

                <!--------01.4 Fit Auswahl ------------>
                <div class="mb-3">
                    <strong>Fit</strong>
                    <select class="form-select mt-2 fit-option">
                    {% for fit in fits %}
                        <option 
                            value="{{ fit }}"
                            {% if fit == selected_variant.fit.name %}selected{% endif %}
                            >{{ fit }}</option>
                    {% endfor %}
                    </select>
                </div>

                <!---------- 01.5 CTA Bereich --------->
                <div class="mt-4">
                    <b><small class="mb-0 text-success">in stock: {{ max_qty }}</small></b>
                </div>
                <form method="POST" action="{% url 'add_to_bag' %}">
                    {% csrf_token %}
                    <div class="d-flex align-items-center ">
                        <label class="form-label mb-0 me-2" for="quantity" class="form-label">QTY:</label>
                        <select class="form-select form-select-sm qty-select mt-1 me-2" style="width:80px;" id="quantity" name="quantity" >
                            {% for i in qty_range %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>

                        <input type="hidden" name="variant_id" value="{{ selected_variant.id }}">
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        <button type="submit" class="btn btn-dark">
                            Add to Cart
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <hr>

        <!------------------ 02 INFO SECTION ------------------------>
        <div class="row mb-5">
            <!-- Description -->
            <div class="col-md-6 mb-3">
            <h5>Description</h5>
            <p>{{ product.description }}</p>
            <p><strong>Series:</strong><br>{{ product.series.description }}</p>
            </div>

            <!-- Details Tabelle -->
            <div class="col-md-6">
            <h5>Details</h5>
            <table class="table table-sm">
                <tbody>
                <tr><th>Detail</th><th>Value</th></tr>
                <tr><td>Name</td><td>{{ product.name }}</td></tr>
                <tr><td>Series</td><td>{{ product.series.name }}</td></tr>
                <tr><td>Garment</td><td>{{ product.category }}</td></tr>
                <tr><td>Occasion</td><td>{{ product.occasion }}</td></tr>
                <tr><td>Fabric / Material</td><td>{{ product.material }}</td></tr>
                <tr><td>Label</td><td>Kern</td></tr>
                </tbody>
            </table>
            </div>
        </div>

        <!------------------ 03 From this Series SECTION ---------------------->  
        <div class="mb-5 series-section">
            <h5>More from this Series</h5>
            <div class="d-flex overflow-auto gap-3 mt-3 h-100 p-2">
                {% for related in more_from_series %}
                    <div class="card series-section-card" >
                        <a href="{% url 'product_details' related.pk %}" >
                            <img src="{{ related.image.url }}" class="card-img-top" alt="{{ related.name }}">
                        </a>
                        <div class="card-body p-2">
                            <div class="fw-bold">{{ related.name }}</div>
                            <div class="small fw-bold">{{ related.min_price }}€</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!----------------------- 04 REVIEW SECTION ----------------------->
        <div>
            <h5>Reviews</h5>
            <p>Reviews kommen hier rein.</p>
        </div>
    </main>


</div>

{% endblock %}

{% block extra_scripts %}
    <!-- hand over variant data to the js so that the button-eventlistener can find the new variant and create new url -->
    <script id="variant-data" type="application/json"> {{ variant_options_json|safe }}</script>
    <div id="product-data"
        data-product-id="{{ product.id }}"
        data-selected-variant-id="{{ selected_variant.id }}">
    </div>
    <script src="{% static 'products/js/product_details.js' %}" defer></script>
{% endblock %}

