{% extends "products/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/product_details.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid mt-4">

    <main class="container my-5">
        <div class="row mb-5">
            <div class="col-md6 mb-3">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid w-100">
            </div>
            <div class="col-md-6">
                <h4>{{ product.name }}</h4>
                <!-- Rating -->
                <div class="d-flex align-items-center mb-3">
                    <div class="me-2">
                        {% for i in "12345"|slice:":"|make_list %}
                        {% if forloop.counter <= product.rating|floatformat:"0"|add:"0" %}
                            <i class="bi bi-star-fill text-warning"></i>
                        {% else %}
                            <i class="bi bi-star text-muted"></i>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <small>{{ product.rating|floatformat:1 }} / 5</small>
                </div>

                <!------------ SIZE VARIATION -------------->
                <div class="mb-3">
                    <strong></strong>
                    <div class="d-flex overflow-auto mt-2 gap-2">
                        {% for size in sizes %}
                        <button type="button" class="btn btn-outline-secondary btn-sm size-option" data-size="{{ size }}">{{ size }}></button>
                        {% endfor %}
                    </div>
                </div>

                <!------------ COLOR VARIATION -------------->
                <div class="mb-3">
                    <strong>Color</strong>
                    <div class="d-flex overflow-auto mt-2 gap-2">
                    {% for color in colors %}
                        <button type="button"
                                class="btn color-option p-2 border"
                                style="background-color: {{ color.color_hex }};"
                                title="{{ color.color_name }}"
                                aria-label="{{ color.color_name }}"
                                data-color="{{ color.color_name }}">{{color.color__name}}
                        </button>
                    {% endfor %}
                    </div>
                </div>

                <!-- Fit Auswahl -->
                <div class="mb-3">
                    <strong>Fit</strong>
                    <select class="form-select mt-2 fit-option">
                    {% for fit in fits %}
                        <option value="{{ fit }}">{{ fit }}</option>
                    {% endfor %}
                    </select>
                </div>

                <!-- CTA Bereich -->
                <div class="d-flex align-items-center mt-4">
                    <div class="me-3">
                    <label class="form-label mb-0">QTY:</label>
                    <select class="form-select form-select-sm qty-select mt-1" style="width:80px;">
                        {% for i in qty_range %}
                        <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                    </div>
                    <button class="btn btn-primary ms-auto add-to-cart-btn">
                    Add to Cart
                    </button>
                </div>

            </div>
        </div>
    </main>


</div>

{% endblock %}

{% block extra_scripts %}
    
{% endblock %}

